<!doctype html>
<html class="no-js" lang="en-us" ng-app="plantGuide">

<head ng-controller="HeadController as head">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{head.title}}</title>
  <meta name="description" content={{head.description}}>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
  <div id="container" class="container" ng-controller="ContentController as content">
    <div id="banner">
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1>{{content.homePageContent.headline}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{content.homePageContent.paragraph1}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{content.homePageContent.paragraph2}}</p>
      </div>
    </div>
    <div class="row" ng-hide="content.homePageContent.hasLocation">
      <div class="col-xs-12">
        <p>Find plants for ****myLocation***</p>
      </div>
    </div>
    <div class="row" ng-show="content.homePageContent.hasLocation">
      <div class="col-xs-12">
        <p>Find plants for this location {{content.homePageContent.location}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>{{content.homePageContent.paragraph3}}</p>
      </div>
    </div>
    <div class="row" ng-repeat="plant in content.homePageContent.plants">
      <div class="col-xs-12">
        <h2>{{plant.name}}</h2>
        <p>{{plant.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div id="select_state">
          <select name="state_choice" ng-repeat="state in content.states">
            <option value="">{{state.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  
  <script src="js/main.min.js"></script>

</body>

</html>