body {
  
  background: url('../img/bglines.png');
  color: black;
  font-family: georgia;
  font-size: 16px;
  line-height: 35px;

  textarea {
      margin: 0;
      padding: 0;
  }

  iframe {
    border: none;
  }

  h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
    color: #666666;
  }

  h1 {
    line-height: 38px;
    font-size: 32px;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: blue;
  }

}


#banner {
  background:url('img/header.jpg');
  width:650px;
  height:84px
}

#banner_ad {
  text-align: center;
  width: 610px;
  height: 60px;
  padding: 20px;
  border: 1px solid #cccccc;
  margin-bottom: 8px;
  margin-top: 30px;
}

#breadcrumb {
  font-size: 12px;
}

.picture_right {
  float: right;
  padding: 10px;
  border: 1px solid lightgrey;
  margin: 10px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

body a:hover {
  text-decoration: underline;
}

#container {
  background: #FFFFFF;
  width: 710px;
  min-height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 1px solid #666666;
  margin-bottom: 50px;
}

#container_pad {
  padding: 30px;
}

.left_image {
  float: left;
  font-size: 12px;
  border: 1px solid black;
  background: lightgrey;
  margin: 20px;
  margin-left: 0;
}

.image_pad {
  padding: 10px;
}

.product_row {
  margin-bottom: 25px;
  border: 2px solid grey;
  padding: 10px;
  line-height: 24px;
}

.contact_form {

  input {
    float: right;
  }

  textarea {
    text-align: left;
    float: right;
    margin: 0;
    padding: 0;
  }

  label {
    font-weight: bold;
  }

}

.states {
  width: 100%;

  a {
    margin-bottom: 10px;
  }

}

.desc {
  height: 330px;
  position: absolute;
  padding: 15px 10px;
  top: 0;
  font-size: 13px;
  width: 195px;
}

.selected {
  display: block;
}

.unselected {
  display: none;
}

